<!--
    <copyright file="Exception.cshtml" company="Ellucian">
        Copyright 2020 - 2021 Ellucian Company L.P. and its affiliates.
    </copyright>
-->

@{
    ViewBag.Title = Resources.CustomMessages.TitleError;
}

<div class="row">
    <div class="col-lg-12">
        <div class="esg-alert esg-alert--error" role="alert">
            <span class="esg-alert__icon-wrapper">
                <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                    <svg class="esg-icon esg-icon--error-dark">
                        <use xlink:href="#icon-error"></use>
                    </svg>
                </span>
            </span>
            <div class="esg-alert__message">@Resources.CustomMessages.Error</div>
        </div>
    </div>
</div>